https://appengator-ammarkhan.c9.io/ws/app_install
{
"app_key": "76088c8d74254e1ef4d871b294ca547c",
"imei": "abcdef",
"imse": "abcdef",
"device_model": "abcdef",
"android_version": "abcdef",
"kernel_version": "abcdef",
"build_number": "abcdef",
"lang": "abcdef",
"device_id": "abcdef",
"height": "abcdef",
"width": "abcdef",
"timezone": "abcdef",	
"camera_pixel": "abcdef",
"latitude":"abcdef",
"longitude":"abcdef",
"social_media_info": "abcdef",
"install_flag" : "1",
"app_events":[{"event_key": "event1", "event_name":"event_one"},{"event_key": "event2", "event_name":"event_two"},{"event_key": "event3", "event_name":"event_three"}]
}

