extends layout
block content
	div.container
		div.row
			div.col-sm-2
			div.col-sm-8
				form.form-horizontal(method="post", id="loginForm", action="/login")
					- if(loginError == 1)
						span= loginError
					div.form-group
						label.col-sm-2.control-label(for="username") Username
						div.col-sm-8
							input.form-control(id="username", type="text", name="username", placeholder="Enter your username")
					div.form-group
						label.col-sm-2.control-label(for="password") Password
						div.col-sm-8
							input.form-control(id="password", type="password", name="password", placeholder="Enter your password")
					div.form-group
						div.col-sm-offset-2.col-sm-10
							div.checbox
								label
									input(type="checkbox", name="remember-me") 
									| Remember Me
					div.form-group
						div.col-sm-offset-2.col-sm-10
							input.btn.btn-default(type="submit", value="Log In")
			div.col-sm-2
	div.footer


	