doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		block css
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
			link(rel='stylesheet', href='/css/style.css')
			link(rel='stylesheet', href='/css/style-responsive.css')
			link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext')
	body
		block header
		block content
		block footers
			script(src='/js/jquery-1.9.1.min.js')
			script(src='/js/jquery-migrate-1.0.0.min.js')
			script(src='/js/jquery-ui-1.10.0.custom.min.js')
			script(src='/js/jquery.ui.touch-punch.js')
			script(src='/js/modernizr.js')
			script(src='/js/bootstrap.min.js')
			script(src='/js/jquery.validate.js')
			script(src='/js/jquery.cookie.js')
			script(src='/js/fullcalendar.min.js')
			script(src='/js/jquery.dataTables.min.js')
			script(src='/js/excanvas.js')
			script(src='/js/jquery.flot.js')
			script(src='/js/jquery.flot.pie.js')
			script(src='/js/jquery.flot.stack.js')
			script(src='/js/jquery.flot.resize.min.js')
			script(src='/js/jquery.chosen.min.js')
			script(src='/js/jquery.uniform.min.js')
			script(src='/js/jquery.cleditor.min.js')
			script(src='/js/jquery.noty.js')
			script(src='/js/jquery.elfinder.min.js')
			script(src='/js/jquery.raty.min.js')
			script(src='/js/jquery.iphone.toggle.js')
			script(src='/js/jquery.uploadify-3.1.min.js')
			script(src='/js/jquery.gritter.min.js')
			script(src='/js/jquery.imagesloaded.js')
			script(src='/js/jquery.masonry.min.js')
			script(src='/js/jquery.knob.modified.js')
			script(src='/js/jquery.sparkline.min.js')
			script(src='/js/counter.js')
			script(src='/js/retina.js')
			script(src='/js/custom.js')
			script(src='/js/script.js')